.header {
  // Style for header

  &::before,
  &::after {
    // Style for pseudo elements
  }

  // Use media query mixins and breakpoint variables
  @include minWidth($sm) {
    // Media for small devices
  }

  @include minWidth($md) {
    // Media for medium devices
  }

  &__container {
    // Styles for .header__container
  }

  &__col {
    // Styles for .header__col

    &--left {
      // Styles for .header__col.header__col--left
    }

    &__right {
      // Styles for .header__col.header__col--right
    }
  }
}